body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}
main{
    padding-top: 120px;
}
footer{
    background-color: #00439c;
}
footer ul{
    list-style-type: none;
}

footer p img{
    width: 20px;
    filter: invert(1%);
}
section.jumpy img:hover{
    box-shadow: rgba(78, 81, 83, 0.9) 0px 0px 0px 3px;
    border-radius: 20px;
    transition: ease-in 0.2s;
    transform: translateY(-10px);
    cursor: pointer;
}

div img.jumpy-no-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.bg-darkgrey{
    background-color: #1f1f1f;;
}
.bg-secondary-custom{
    background-color: #bebcbb;
}
.bg-dark-custom{
    background-color: #161c3b;
}
.buy-orange{
    background-color: #cd3d0f;
    color: white;
}
.buy-orange:hover{
    background-color: beige;
    color:black;
}
.sony-bar{
    height: 45px;
    width: 100%;
    background-color: black;
}
.sony-bar img{
    width: 100px;
    margin-right: 1rem;
}
.inverted-color{
    filter: invert(100%) sepia(100%) brightness(200%);
}
.sony-ie{
    width: 20%;
    margin-left: 1.1rem;
}
.custom-social{
    width: 60%;
    
}

#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    height: 675px;
}
#jumbo-content img{
    width: 300px;
}
#jumbotron-center{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    
    
}
#game-id-card img{
    border-radius: 1.5rem;
}








