
.buy-orange{
    background-color: #cd3d0f;
    color: white;
}
.buy-orange:hover{
    background-color: beige;
    color:black;
}
.logo-bar{
    height: 45px;
    width: 100%;
    background-color: black;
}
.logo-bar img{
    width: 100px;
    margin-right: 1rem;
}
#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    height: 675px;
}
#jumbo-content img{
    width: 300px;
}
#jumbotron-center{
    height: 600px;
    background-color: aquamarine;
}

#game-id-card img{
    border-radius: 1.5rem;
}

#console-img{
    height: 400px;
    background-color: rgb(28, 118, 179);
}
.ps5-img-part{
    height: 180px;
    background-color: blue;
}
.test-img{
    height: 150px;
    background-color: cadetblue;
}
.test-img-big{
    height: 250px;
    background-color: crimson;
}
#ps-plus{
    background-color: #bebcbb;
}
#ps-now{
    background-color: #161c3b;
}
footer{
    background-color: #00439c;
}
footer ul{
    list-style-type: none;
    color: white
}





