body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
header {
    width: 100%;
    position: fixed;
    z-index: 1;
}
nav a:hover {
    color: #1b79f5 !important;}

main{
    padding-top: 120px;
    
}
footer{
    background-color: #00439c;
}
footer ul{
    list-style-type: none;
}

footer p img{
    width: 20px;
    filter: invert(1%);
}
section.jumpy img:hover{
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px 2px rgba(75, 77, 77, 0.7);
    transition: all .2s ease-in-out,height 0s;
    cursor: pointer;
}
section.jumpy img:active{
    -webkit-box-sizing: border-box;

}




div img.jumpy-no-box:hover{
    transform: translateY(-10px);
    cursor: pointer;
}
.bg-darkgrey{
    background-color: #1f1f1f;;
}
.bg-secondary-custom{
    background-color: #bebcbb;
}
.bg-dark-custom{
    background-color: #161c3b;
}
.buy-orange{
    background-color: #cd3d0f;
    color: white;
}
.buy-orange:hover{
    background-color: beige;
    color:black;
}
.sony-bar{
    height: 45px;
    width: 100%;
    background-color: black;
}
.sony-bar img{
    width: 100px;
    margin-right: 1rem;
}
.inverted-color{
    filter: invert(100%) sepia(100%) brightness(200%);
}
.sony-ie{
    width: 20%;
    margin-left: 1.1rem;
}
.custom-social{
    
    
}

#jumbotron{
    background-image: url("../img/jumbo-bg.png");
    background-size: cover;
    background-position-x: center;
    height: 675px;
}
#jumbo-content img{
    width: 300px;
}
#jumbotron-center{
    background-image: url('../img/it-takes-two-hero-banner-desktop.jpg');
    background-position: center;
    background-size: cover;
    
    
}
#game-id-card img{
    border-radius: 1.5rem;
    
}
#ps-plus{
    background-color: #bebcbb;
}
#ps-now{
    background-color: #161c3b;
}







